In [107]:
# Pandas: Tablo (DataFrame) işlemleri için kullanılır
import pandas as pd

# Random: Rasgele sayı üretmek için kullanılır (örn. öğrenci notları)
import random

# Jupyter'da tabloyu düzgün göstermek için display fonksiyonu
from IPython.display import display


# Öğrenci ad-soyad listesi (15 kişi)
ogrenciler = [
    "Ayşe Aydın", "Emre Demir", "Elif Yılmaz", "Kerem Soylu", "Berk Yıldız",
    "Zeynep Koç", "Ali Çetin", "Merve Aksoy", "Hasan Uçar", "Derya Gül",
    "Yusuf Toprak", "Buse Yalçın", "Mert Kılıç", "Gizem Akar", "Tolga Can"
]

# Her öğrenci için veri üret
veriler = []
for i, ad_soyad in enumerate(ogrenciler):
    # Cinsiyeti belirle
    cinsiyet = "Kadın" if ad_soyad.split()[0] in ["Ayşe", "Elif", "Zeynep", "Merve", "Derya", "Buse", "Gizem"] else "Erkek"

    # 4 haneli ID üret (1001'den başlasın)
    ogr_id = 1001 + i

    # Notları 50-100 arası random üret
    veri = {
        "id": ogr_id,
        "ad_soyad": ad_soyad,
        "cinsiyet": cinsiyet,
        "matematik": random.randint(50, 100),
        "fizik": random.randint(50, 100),
        "kimya": random.randint(50, 100),
        "biyoloji": random.randint(50, 100)
    }
    veriler.append(veri)

# Verileri DataFrame'e aktar
df = pd.DataFrame(veriler)

# Ortalama not sütununu ekle
df["ortalama"] = df[["matematik", "fizik", "kimya", "biyoloji"]].mean(axis=1)

# Sınıf listesi görünümü için index'i 1'den başlat
df.index = range(1, len(df)+1)

# CSV olarak dışa aktar (4 haneli id ve 1'den başlayan index ile)
df.to_csv("ogrenciler.csv", index=False)

# 🖥 Sınıf listesini göster
print("📋 Sınıf Listesi:")
display(df)

# 🔎 Eksik veri kontrolü
print("\n🧪 Eksik veri kontrolü:")
display(df.isnull().sum())

# 📊 Başarı sırasına göre sıralanmış liste
df_sirali = df.sort_values(by="ortalama", ascending=False)
df_sirali.index = range(1, len(df_sirali)+1)
df_sirali.to_csv("ogrenci_siralamasi.csv", index=False)

print("\n🏅 Başarı Sıralaması:")
display(df_sirali)

📋 Sınıf Listesi:

      id      ad_soyad cinsiyet  matematik  fizik  kimya  biyoloji  ortalama
1   1001    Ayşe Aydın    Kadın         72     96     56       100     81.00
2   1002    Emre Demir    Erkek         96     89     78        73     84.00
3   1003   Elif Yılmaz    Kadın         62     66     95        86     77.25
4   1004   Kerem Soylu    Erkek         92     74     54        83     75.75
5   1005   Berk Yıldız    Erkek         61     85     94        81     80.25
6   1006    Zeynep Koç    Kadın         69     58     61        73     65.25
7   1007     Ali Çetin    Erkek         98     88     61        51     74.50
8   1008   Merve Aksoy    Kadın         96     97     88        84     91.25
9   1009    Hasan Uçar    Erkek         80     60    100        58     74.50
10  1010     Derya Gül    Kadın         77     85     65        87     78.50
11  1011  Yusuf Toprak    Erkek         62     71     86        72     72.75
12  1012   Buse Yalçın    Kadın         96     78     72        52     74.50
13  1013    Mert Kılıç    Erkek         76     62     81        83     75.50
14  1014    Gizem Akar    Kadın         89     75     91        88     85.75
15  1015     Tolga Can    Erkek         61     53     78        82     68.50

🧪 Eksik veri kontrolü:

id           0
ad_soyad     0
cinsiyet     0
matematik    0
fizik        0
kimya        0
biyoloji     0
ortalama     0
dtype: int64

🏅 Başarı Sıralaması:

      id      ad_soyad cinsiyet  matematik  fizik  kimya  biyoloji  ortalama
1   1008   Merve Aksoy    Kadın         96     97     88        84     91.25
2   1014    Gizem Akar    Kadın         89     75     91        88     85.75
3   1002    Emre Demir    Erkek         96     89     78        73     84.00
4   1001    Ayşe Aydın    Kadın         72     96     56       100     81.00
5   1005   Berk Yıldız    Erkek         61     85     94        81     80.25
6   1010     Derya Gül    Kadın         77     85     65        87     78.50
7   1003   Elif Yılmaz    Kadın         62     66     95        86     77.25
8   1004   Kerem Soylu    Erkek         92     74     54        83     75.75
9   1013    Mert Kılıç    Erkek         76     62     81        83     75.50
10  1007     Ali Çetin    Erkek         98     88     61        51     74.50
11  1009    Hasan Uçar    Erkek         80     60    100        58     74.50
12  1012   Buse Yalçın    Kadın         96     78     72        52     74.50
13  1011  Yusuf Toprak    Erkek         62     71     86        72     72.75
14  1015     Tolga Can    Erkek         61     53     78        82     68.50
15  1006    Zeynep Koç    Kadın         69     58     61        73     65.25