In [107]:
# Pandas: Tablo (DataFrame) iÅŸlemleri iÃ§in kullanÄ±lÄ±r
import pandas as pd

# Random: Rasgele sayÄ± Ã¼retmek iÃ§in kullanÄ±lÄ±r (Ã¶rn. Ã¶ÄŸrenci notlarÄ±)
import random

# Jupyter'da tabloyu dÃ¼zgÃ¼n gÃ¶stermek iÃ§in display fonksiyonu
from IPython.display import display


# Ã–ÄŸrenci ad-soyad listesi (15 kiÅŸi)
ogrenciler = [
    "AyÅŸe AydÄ±n", "Emre Demir", "Elif YÄ±lmaz", "Kerem Soylu", "Berk YÄ±ldÄ±z",
    "Zeynep KoÃ§", "Ali Ã‡etin", "Merve Aksoy", "Hasan UÃ§ar", "Derya GÃ¼l",
    "Yusuf Toprak", "Buse YalÃ§Ä±n", "Mert KÄ±lÄ±Ã§", "Gizem Akar", "Tolga Can"
]

# Her Ã¶ÄŸrenci iÃ§in veri Ã¼ret
veriler = []
for i, ad_soyad in enumerate(ogrenciler):
    # Cinsiyeti belirle
    cinsiyet = "KadÄ±n" if ad_soyad.split()[0] in ["AyÅŸe", "Elif", "Zeynep", "Merve", "Derya", "Buse", "Gizem"] else "Erkek"

    # 4 haneli ID Ã¼ret (1001'den baÅŸlasÄ±n)
    ogr_id = 1001 + i

    # NotlarÄ± 50-100 arasÄ± random Ã¼ret
    veri = {
        "id": ogr_id,
        "ad_soyad": ad_soyad,
        "cinsiyet": cinsiyet,
        "matematik": random.randint(50, 100),
        "fizik": random.randint(50, 100),
        "kimya": random.randint(50, 100),
        "biyoloji": random.randint(50, 100)
    }
    veriler.append(veri)

# Verileri DataFrame'e aktar
df = pd.DataFrame(veriler)

# Ortalama not sÃ¼tununu ekle
df["ortalama"] = df[["matematik", "fizik", "kimya", "biyoloji"]].mean(axis=1)

# SÄ±nÄ±f listesi gÃ¶rÃ¼nÃ¼mÃ¼ iÃ§in index'i 1'den baÅŸlat
df.index = range(1, len(df)+1)

# CSV olarak dÄ±ÅŸa aktar (4 haneli id ve 1'den baÅŸlayan index ile)
df.to_csv("ogrenciler.csv", index=False)

# ğŸ–¥ SÄ±nÄ±f listesini gÃ¶ster
print("ğŸ“‹ SÄ±nÄ±f Listesi:")
display(df)

# ğŸ” Eksik veri kontrolÃ¼
print("\nğŸ§ª Eksik veri kontrolÃ¼:")
display(df.isnull().sum())

# ğŸ“Š BaÅŸarÄ± sÄ±rasÄ±na gÃ¶re sÄ±ralanmÄ±ÅŸ liste
df_sirali = df.sort_values(by="ortalama", ascending=False)
df_sirali.index = range(1, len(df_sirali)+1)
df_sirali.to_csv("ogrenci_siralamasi.csv", index=False)

print("\nğŸ… BaÅŸarÄ± SÄ±ralamasÄ±:")
display(df_sirali)

ğŸ“‹ SÄ±nÄ±f Listesi:

      id      ad_soyad cinsiyet  matematik  fizik  kimya  biyoloji  ortalama
1   1001    AyÅŸe AydÄ±n    KadÄ±n         72     96     56       100     81.00
2   1002    Emre Demir    Erkek         96     89     78        73     84.00
3   1003   Elif YÄ±lmaz    KadÄ±n         62     66     95        86     77.25
4   1004   Kerem Soylu    Erkek         92     74     54        83     75.75
5   1005   Berk YÄ±ldÄ±z    Erkek         61     85     94        81     80.25
6   1006    Zeynep KoÃ§    KadÄ±n         69     58     61        73     65.25
7   1007     Ali Ã‡etin    Erkek         98     88     61        51     74.50
8   1008   Merve Aksoy    KadÄ±n         96     97     88        84     91.25
9   1009    Hasan UÃ§ar    Erkek         80     60    100        58     74.50
10  1010     Derya GÃ¼l    KadÄ±n         77     85     65        87     78.50
11  1011  Yusuf Toprak    Erkek         62     71     86        72     72.75
12  1012   Buse YalÃ§Ä±n    KadÄ±n         96     78     72        52     74.50
13  1013    Mert KÄ±lÄ±Ã§    Erkek         76     62     81        83     75.50
14  1014    Gizem Akar    KadÄ±n         89     75     91        88     85.75
15  1015     Tolga Can    Erkek         61     53     78        82     68.50

ğŸ§ª Eksik veri kontrolÃ¼:

id           0
ad_soyad     0
cinsiyet     0
matematik    0
fizik        0
kimya        0
biyoloji     0
ortalama     0
dtype: int64

ğŸ… BaÅŸarÄ± SÄ±ralamasÄ±:

      id      ad_soyad cinsiyet  matematik  fizik  kimya  biyoloji  ortalama
1   1008   Merve Aksoy    KadÄ±n         96     97     88        84     91.25
2   1014    Gizem Akar    KadÄ±n         89     75     91        88     85.75
3   1002    Emre Demir    Erkek         96     89     78        73     84.00
4   1001    AyÅŸe AydÄ±n    KadÄ±n         72     96     56       100     81.00
5   1005   Berk YÄ±ldÄ±z    Erkek         61     85     94        81     80.25
6   1010     Derya GÃ¼l    KadÄ±n         77     85     65        87     78.50
7   1003   Elif YÄ±lmaz    KadÄ±n         62     66     95        86     77.25
8   1004   Kerem Soylu    Erkek         92     74     54        83     75.75
9   1013    Mert KÄ±lÄ±Ã§    Erkek         76     62     81        83     75.50
10  1007     Ali Ã‡etin    Erkek         98     88     61        51     74.50
11  1009    Hasan UÃ§ar    Erkek         80     60    100        58     74.50
12  1012   Buse YalÃ§Ä±n    KadÄ±n         96     78     72        52     74.50
13  1011  Yusuf Toprak    Erkek         62     71     86        72     72.75
14  1015     Tolga Can    Erkek         61     53     78        82     68.50
15  1006    Zeynep KoÃ§    KadÄ±n         69     58     61        73     65.25